body {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: rgb(20,20,20);
    font-family: 'Lato', sans-serif;
    
    
}
.navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(20,20,20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 5px solid rgb(5, 60, 40);
}
.one {
    display: flex;
    align-items: center;
    padding-left: 25px;
    justify-content: left;
    grid-column: 1;
}
.two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2;

}
.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.navbar-button {
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    border: 3px solid rgb(5,60,40);
    border-radius: 25px;
    cursor: pointer;
    
}

.introduction {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0),rgba(20,20,20,1)), url("static/logos/AdobeStock_220734923.jpeg");
    
    
}
.intro-holder {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 60vh;
    background-color: rgb(5, 60, 40);
    border-radius: 25px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: solid 5px black;
    color: white;
    

}
.intro-name {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 25px;
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    
}

.intro-name h1::after {
    content: "";
    width: 5px;
    height: 25px;
    margin-left: 5px;
    background: white;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
    
}


.intro-paragraph{
    display: flex;
    justify-content: center;
    padding:50px;
    padding-top:0px;
    font-size: 25px;
    
}

.profile-picture {
    grid-column-start: 4;
    grid-column-end: 6;
    height: 60vh;
    background: white;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-top-container{
    width: 100%;
    height: 30px;
    
    
}
.projects-top-text{
    display: flex;
    font-size: 50px;
    color: white;
    justify-content: center;
}
.projects{
    display: grid;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    gap: 25px;
    opacity:0;
    transform: translateY(200px);
    transition: 2s all ease;

    
}
@keyframes slideleft {
    from{
        margin-left: 100%;
        opacity: 0;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}
.projects.active{
    display: grid;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    gap: 25px;
    transform: translateY(0);
    opacity: 1;
    
    
    
    
}
.project{
    grid-column: auto;
    background-color: rgb(5, 60, 40);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 5px solid black;
    border-radius: 25px;
    
}

.projects :hover{
    transform: scale(105%);
}


.project-picture{
    grid-column-start: 1;
    grid-column-end: 2;  
    display: flex;
    justify-content: center;
    align-items: center; 
    pointer-events: none;
}



.project-description{
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description :hover{
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


.contacts-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    
}

.contacts-section-container{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social-logo1{
    grid-column-start:1;
    grid-column-end:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-logo2{
    grid-column-start:2;
    grid-column-end:3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-logo3{
    grid-column-start:3;
    grid-column-end:4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.holder{
    height: 200px;
    width: 200px;
}