body {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: rgb(20,20,20);
    font-family: 'Lato', sans-serif;
    
    
}
.navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(20,20,20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 5px solid rgb(5, 60, 3);
}
.one {
    display: flex;
    align-items: center;
    padding-left: 25px;
    justify-content: left;
    grid-column: 1;
}
.two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2;

}
.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.navbar-button {
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    border: 3px solid rgb(5,60,3);
    border-radius: 25px;
    cursor: pointer;
    
}
.introduction {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
    padding: 100px;
}
.intro-holder {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 60vh;
    background-color: rgb(5, 60, 3);
    border-radius: 25px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: solid 5px black;
    color: white;
    

}
.intro-name {
    display: flex;
    align-items: end;
    justify-content: center;
    
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    
}

.intro-name h1::after {
    content: "";
    width: 5px;
    height: 25px;
    margin-left: 5px;
    background: white;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}


.intro-paragraph{
    display: flex;
    justify-content: center;
    padding:50px;
    padding-top:0px;
    
}

.profile-picture {
    grid-column-start: 4;
    grid-column-end: 6;
    height: 60vh;
    background: white;
    margin-left: 100px;
}
.project-top-container{
    width: 100%;
    height: 30px;
    
    
}
.projects-top-text{
    display: flex;
    font-size: 50px;
    color: white;
    justify-content: center;
}
.projects{
    display: grid;
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    gap: 25px;
    
}
.project1, .project2, .project3, .project4{
    grid-column: auto;
    background-color: rgb(5, 60, 3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 5px solid black;
    border-radius: 25px;
    
}


.project-picture{
    grid-column-start: 1;
    grid-column-end: 2;  
    display: flex;
    justify-content: center;
    align-items: center; 

}
.project-description{
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.contacts-section-container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contacts-section{
    display: flex;
    justify-content: center;
    align-items: center;
    

}