body {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: rgb(217, 104, 70);
}
.navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(217, 104, 70);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.one {
    display: flex;
    align-items: center;
    padding-left: 25px;
    justify-content: left;
    grid-column: 1;
}
.two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2;

}
.navbar-link {
    text-decoration: none;
    color: black;
}
.navbar-button {
    text-decoration: none;
    border-radius: 25px;
    border: 5px;
    padding: 10px;
}
.contact-section {
    

}
